<div class="container-fluid" id="navbar">
  <ul class="nav nav-tabs nav-fill">
    <style>
      #navbar {
        padding: 0px 0px 0px 0px;
      }
    </style>
    <li class="nav-item">
      <a class="nav-link active" href="/">Home Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/note">Create Bird Watching Note</a>
    </li>
    </li>
  </ul>
</div>
