<div class="container-fluid" id="navbar">
  <ul class="nav nav-tabs nav-fill">
    <style>
      #navbar {
        padding: 0px 0px 0px 0px;
      }
    </style>
    <li class="nav-item">
      <a class="nav-link active" href="/">Home Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/note">Create Bird Watching Note</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/login">User Login</a>
    </li>
    <% if (loginResult[0] === 'logged in') { %>
    <li class="nav-item">
      <form action="/logout?_method=DELETE" method="POST">
        <input type="submit" value="Log Out" />
      </form>
    </li>
    <% } %>
  </ul>
</div>
