<%- include('header', {title: `Delete Bird Watching Note`}); -%> <%-
include('navbar'); -%>
<div class="container-lg text-center">
  <h2>Bird Watching Note Deleted!</h2>
</div>
<%- include('footer'); -%>
