<%- include('header', {title: `Create Bird Watching Note`}); -%> <%-
include('navbar'); -%>
<div class="container-lg text-center">
  <h2>New Bird Watching Note Created!</h2>
</div>
<%- include('footer'); -%>
