<%- include('header', {title: `Create Bird Watching Note`}); -%> <%-
include('navbar'); -%>
<div class="container-lg text-center">
  <h2>Sign Up Successful</h2>
  <h3>Go ahead and log in!</h3>
</div>
<%- include('footer'); -%>
